@import './settings';

.btc-form-wrapper {
  border: 2px solid $nav-colour;
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
  width: 320px;
}

.btc-form-header {
  height: 92px;
  background-color: $nav-colour;
}


.btc-form-heading {
  color: white;
  text-align: center;
  padding: 30px 0 30px 0;
  margin: 0;
  font-size: 2em; // 32px
}

.btc-input-wrapper {
  padding-top: 20px;
  width: $auth-form-content-width;
  margin: 0 auto;
}

.btc-check-icon {
  color: $btn-colour;
  font-size: 30px;
}

.btc-form-button-wrapper {
  width: $auth-form-content-width;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btc-form-button {
  width: 100%;
}

.btc-error {
  width: $auth-form-content-width;
  color: white;
  background-color: $nav-colour;
  padding: 5px;
  margin: 0 auto;
  text-align: center
}


