@import './settings';

.btc-instruction-panel {
  border: 2px solid $nav-colour;
  padding: 15px 40px 15px 40px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  line-height: 1.8em;
  letter-spacing: 1px;
}

.btc-panel-link {
  font-weight: bold;
}

.btc-btn {
  background-color: $btn-colour;
}

.btc-get-all-btn {
  margin-left: 5px;
}

// PREVIEW SECTION

.btc-book-preview {
  height: 360px;
}

.btc-book-preview-image-container {
  background: #555;
  height: 240px;
  overflow: hidden;
  position: relative;
  &:hover {
    cursor: pointer;
   }
}

.btc-book-preview-image {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  &:hover {
    opacity: 0.4;
  }
}

.btc-book-preview-title {
  font-weight: bold;
  margin-bottom: 0;
}

.btc-book-preview-author {
  margin: 3px 0 0 0;
  font-size: 0.9em;
  color: #444
}

// MODAL COMPONENT

.btc-modal-progress-bar {
  margin-top: 0;
}

.btc-modal-text {
  float: left;
  max-width:  60%;
}

.btc-modal-img-wrapper {
  float: left;
  margin-right: 20px;
}

.btc-modal-chip {
  display: block;
  margin-top: 10px;
  background-color: $btn-colour;
  text-align: center;
  color: white;
}

.btc-modal-footer {
  clear: both;
}

.btc-modal-title {
  font-weight: bold;
  font-size: 2.5em;
}

.btc-modal-subtitle {
  font-weight: bold;
  font-size: 1.2em;
}

.btc-modal-author {
  font-size: 1.1em;
}

.btc-modal-pageCount {
  font-style: italic;
  font-size: 0.9em;
  color: #444;
}

.modal-link {
  &:hover {
    cursor: pointer;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 600px) {
  h1.btc-modal-title {
    font-size: 1.8em;
    margin: 4px 0;
  }

  .btc-modal-content {
    padding: 16px;
  }

  .btc-modal-img-wrapper {
    float: none;
  }

  .btc-modal-text {
    max-width: 100%;
  }

  .btc-modal-img-wrapper img {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  button.btc-btn {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
}
