 @import './settings';

 /* label color */
 .input-field label {
  color: $dark-grey;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
  color: $dark-grey;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid $dark-grey;
  box-shadow: 0 1px 0 0 $dark-grey;
}

.input-field .prefix.active {
  color: $nav-colour;
}
