<section class="btc-form-wrapper">
  <div class="btc-form-header">
    <h2 class="btc-form-heading">Login</h2>
  </div>

  <form materialize #form="ngForm" (submit)="submitForm()" novalidate>
    <div class="btc-input-wrapper">

      <!-- USERNAME FIELD -->
      <div class="input-field">
        <input
          [(ngModel)]="user.username"
          #inp1="ngModel"
          name="username"
          id="username"
          type="text"
          required
          minlength="3">
        <label for="username">Username</label>
      </div>

      <!-- PASSWORD FIELD -->
      <div class="input-field">
        <input
          [(ngModel)]="user.password"
          #inp2="ngModel"
          name="password"
          id="password"
          type="text"
          required
          minlength="3">
        <label  for="password">Password</label>
      </div>
    </div>

    <div *ngIf="this.error" class="btc-error">
      {{error}}
    </div>

    <div class="btc-form-button-wrapper">
      <button class="btn waves-effect waves-light btc-btn" type="submit" [disabled]="form.invalid">Login
        <i class="material-icons right">check</i>
      </button>
    </div>
  </form>

</section>




