<!-- BANNER SECTION -->
<section class="btc-instruction-panel">
  <h4>Welcome to Book Exchange</h4>
  <p>On this page, you can browse books available from our users, and search books by topic or title.
    Click on a book to see more details or make a borrow request.</p>
    <p *ngIf="!username">To borrow books and list your own collection,
      <a [routerLink]="['/login']" class="btc-panel-link">login</a> or
      <a [routerLink]="['/register']" class="btc-panel-link">register</a>
    </p>
    <p *ngIf="username" >Go to the
      <a [routerLink]="['/profile']" class="btc-panel-link">profile page</a>
      to view your collection and requests.
    </p>
</section>

<!-- SEARCH FORM SECTION -->
<section class="row">
  <form materialize class="col s12" #form="ngForm" (submit)="searchBooks()">
    <div class="row">
      <div class="input-field col s12">
        <input
          [(ngModel)]="titleQuery"
          type="text"
          name="titleQuery"
          id="titleQuery">
        <label for="titleQuery">Title or Keyword</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light btc-btn" type="submit">Search
        <i class="material-icons right">search</i>
      </button>
      <button class="btn waves-effect waves-light btc-btn btc-get-all-btn" (click)="getAllBooks()">Recently Added
        <i class="material-icons right">autorenew</i>
      </button>
    </div>
  </form>
</section>

<!-- RESULTS SECTION -->
<section class="row">
  <div class="col s12 m4 l3 xl2 btc-book-preview" *ngFor="let book of bookData" (click)="openModal(book)">
    <div class="btc-book-preview-image-container">
      <img class="btc-book-preview-image" src="{{book.imageLinks.thumbnail}}" >
    </div>

    <p class="btc-book-preview-title">{{book.title}}</p>
    <p class="btc-book-preview-author">{{book.authors[0]}}</p>
  </div>
</section>

<p *ngIf="helpMessage" class="btc-null-result-message">{{helpMessage}}</p>


<!-- MODAL -->
<section *ngIf="selectedBook" id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div *ngIf="modalProgressBar" class="progress btc-modal-progress-bar">
    <div class="indeterminate"></div>
  </div>
  <div class="modal-content btc-modal-content">

    <!-- MODAL IMAGE -->
    <div class="btc-modal-img-wrapper">
      <img src="{{selectedBook.imageLinks.thumbnail}}" />
      <div class="chip btc-modal-chip" *ngIf="selectedBook.requested">Requested</div>
      <div class="chip btc-modal-chip" *ngIf="selectedBook.username === username">Owned</div>
    </div>

    <!-- MODAL TEXT -->
    <div class="btc-modal-text">
      <h1 class="btc-modal-title">{{selectedBook.title}}</h1>
      <p *ngIf="selectedBook.subtitle" class="btc-modal-subtitle">{{selectedBook.subtitle}}</p>
      <div>By&nbsp;
        <span *ngFor="let author of selectedBook.authors" class="btc-modal-author">{{author}}&nbsp;&nbsp;</span>
      </div>
      <span *ngIf="selectedBook.publisher">Published by {{selectedBook.publisher}} </span>
      <span *ngIf="selectedBook.publishedDate">({{selectedBook.publishedDate}})</span>

      <p *ngIf="selectedBook.pageCount" class="btc-modal-pageCount">{{selectedBook.pageCount}} pages</p>
      <p class="btc-modal-user">added by:<b> {{selectedBook.username}}</b></p>
      <p *ngIf="!username" class="anon-user-message">To request books from other users, please
        <a class="modal-link" (click)="authenticate('/register')">register</a> or <a class="modal-link" (click)="authenticate('/login')">log in</a>.</p>
    </div>
  </div>

  <!-- MODAL FOOTER -->
  <div class="modal-footer btc-modal-footer">
    <a *ngIf="username && !selectedBook.requested  && selectedBook.username !== username" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="requestBook()">Request<i class="material-icons right">add_circle</i></a>
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close<i class="material-icons right">cancel</i></a>
  </div>
</section>

