
<simple-notifications [options]="options"></simple-notifications>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Book Exchange</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li [className]="linkClassBrowse"><a [routerLink]="['/browse']" >Browse Books</a></li>
        <li [className]="linkClassAdd"><a [routerLink]="['/add']">Add Books</a></li>
        <li [className]="linkClassRegister" *ngIf="!username"><a [routerLink]="['/register']">Register</a></li>
        <li [className]="linkClassLogin" *ngIf="!username"><a [routerLink]="['/login']">Login</a></li>

        <!-- <li *ngIf="username"><a class="dropdown-button" data-activates="dropdown1"><i (click)="showDropdown()" class="material-icons btc-account-icon">account_circle</i></a></li> -->
        <!-- materialize dropdown not functioning reliably so toggleDropdown method substituted -->
        <li *ngIf="username"><a>
          <i (click)="toggleDropdown()" class="material-icons btc-account-icon">account_circle</i></a>
          <ul *ngIf="dropdownVisible" (click)="toggleDropdown()" class="dropdown-content btc-dropdown-content">
              <!-- <ul *ngIf="dropdownVisible" materialize="dropdown" id="dropdown1" class="dropdown-content"> -->
                <li><a [routerLink]="['/profile']">Profile</a></li>
                <li class="divider"></li>
                <li><a (click)="signOut()">Sign Out</a></li>
              </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="progressBar" class="progress btc-progress-bar">
    <div class="indeterminate"></div>
  </div>


  <div class="container">
    <router-outlet></router-outlet>
  </div>













