<h3>Search for Books to Add</h3>

<div class="row">
  <form class="col s12" #form="ngForm" (submit)="searchBooksAPI(form)">
    <div class="row">

      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">search</i> -->
        <input
          [(ngModel)]="titleQuery"
          type="text"
          name="titleQuery"
          id="titleQuery">
          <label for="titleQuery">Title</label>
      </div>

      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">search</i> -->
        <input
          [(ngModel)]="authorQuery"
          type="text"
          name="authorQuery"
          id="authorQuery">
        <label for="authorQuery">Author (optional)</label>
      </div>

    </div>
    <!-- inputs row end -->

    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" (click)="searchBooksAPI()">Search
          <i class="material-icons right">search</i>
      </button>
    </div>

  </form>
</div>


<div class="row">
  <div class="col s12 m4 l3 btc-book-preview" *ngFor="let book of bookData">
    <div class="btc-book-preview-image-container">
      <img class="btc-book-preview-image" src="{{book.imageLinks.thumbnail}}" >
    </div>
    <p class="btc-book-preview-title">{{book.title}}</p>
    <p class="btc-book-preview-author">{{book.authors[0]}}</p>

  </div>

</div>


