<div class="btc-instruction-panel">
  <h5>Search Google Books</h5>
  <p>On this page, you can search Google Books for titles to add to your collection. Other users
  will be able to see the books you add and send you borrow requests.</p>
</div>

<!-- Search Form -->
<div class="row">
  <form materialize class="col s12" #form="ngForm" (submit)="searchBooksAPI(form)">
    <div class="row">
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">search</i> -->
        <input
          [(ngModel)]="titleQuery"
          type="text"
          name="titleQuery"
          id="titleQuery"
          required>
          <label for="titleQuery">Title</label>
      </div>
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">search</i> -->
        <input
          [(ngModel)]="authorQuery"
          type="text"
          name="authorQuery"
          id="authorQuery">
        <label for="authorQuery">Author (optional)</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light btc-btn" type="submit" [disabled]="!titleQuery">Search
          <i class="material-icons right">search</i>
      </button>
    </div>
  </form>
</div>

<!-- Results -->
<!-- <p *ngIf="nullResultError" class="btc-search-error">{{nullResultError}}</p> -->
<p *ngIf="helpMessage" class="btc-search-error">{{helpMessage}}</p>

<div class="row">
  <div class="col s6 m4 l3 btc-book-preview" *ngFor="let book of bookData" (click)="openModal(book)">
    <div class="btc-book-preview-image-container">
      <img class="btc-book-preview-image" src="{{book.imageLinks.thumbnail}}" >
    </div>

    <p class="btc-book-preview-title">{{book.title}}</p>
    <p class="btc-book-preview-author">{{book.authors[0]}}</p>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div *ngIf="modalProgressBar" class="progress btc-modal-progress-bar">
    <div class="indeterminate"></div>
  </div>
  <div *ngIf="selectedBook" class="modal-content">

      <div class="btc-modal-img-wrapper">
        <img src="{{selectedBook.imageLinks.thumbnail}}" />
      </div>

      <div class="btc-modal-text">
        <h4 class="btc-modal-title">{{selectedBook.title}}</h4>
        <p *ngIf="selectedBook.subtitle" class="btc-modal-subtitle">{{selectedBook.subtitle}}</p>
        <div>By&nbsp;
          <span *ngFor="let author of selectedBook.authors" class="btc-modal-author">{{author}}&nbsp;&nbsp;</span>
        </div>
        <span *ngIf="selectedBook.publisher">Published by {{selectedBook.publisher}} </span>
        <span *ngIf="selectedBook.publishedDate">({{selectedBook.publishedDate}})</span>

        <p *ngIf="selectedBook.pageCount" class="btc-modal-pageCount">{{selectedBook.pageCount}} pages</p>
        <p *ngIf="!username" class="anon-user-message">To add books to your collection, please
          <a class="modal-link" (click)="linkToAuthPage($event)">register</a> or <a class="modal-link" (click)="linkToAuthPage($event)">log in</a>.</p>
      </div>

    </div>
    <div class="modal-footer btc-modal-footer">
      <a *ngIf="username" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="addBook()">Add to Collection<i class="material-icons right">add_circle</i></a>
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close<i class="material-icons right">cancel</i></a>
    </div>
   </div>





