<h4>User Profile</h4>
<p>User: {{currentUser.username}}</p>
<p>UserID: {{currentUser._id}}</p>


<!-- Secondary NavBar -->

<nav class="nav-extended btc-page-navbar">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a (click)="showContent($event)" [className]="linkClassCollection">Collection</a></li>
        <li class="tab"><a (click)="showContent($event)" [className]="linkClassRequests">Requests</a></li>
      </ul>
    </div>
  </nav>

<!-- My Collection Table -->

<div *ngIf="activeTab === 'Collection'" class="responsive-table btc-table-wrapper">
    <table>
      <thead>
        <tr class="btc-table-row">
            <th></th>
            <th class="btc-title-column">Title</th>
            <th>Author</th>
            <th class="btc-centered">Requests</th>
            <th class="btc-remove-column">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of myBooks" class="btc-table-row">
            <td><img class="btc-table-image" src="{{book.imageLinks.thumbnail}}" ></td>
            <td class="btc-title-column">{{book.title}}</td>
            <td>{{book.authors[0]}}</td>
            <td class="btc-centered">{{book.requestsReceived.length}}</td>
            <td class="btc-centered"><i (click)="deleteBook(book)" class="material-icons btc-icon">delete_forever</i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- delete modal -->

  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
      <div class="modal-content">
        <h4 *ngIf="selectedBook"></h4>
        <p></p>
      </div>
      <div class="modal-footer">
          <a class="waves-effect waves-green btn-flat" >Remove<i class="material-icons right">delete_forever</i></a>
          <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancel<i class="material-icons right">cancel</i></a>
      </div>
    </div>

<!-- Requests Table -->

<div *ngIf="activeTab !== 'Collection'" class="responsive-table btc-table-wrapper">
    <table>
      <thead>
        <tr class="btc-table-row">
            <th></th>
            <th class="btc-title-column">Title</th>
            <th class="btc-centered">Owner</th>
            <th class="btc-centered">Message</th>
            <th class="btc-centered">Cancel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of myRequests" class="btc-table-row">
            <td class="btc-image-column btc-centered"><img class="btc-table-image" src="{{request.book.imageLinks.thumbnail}}" ></td>
            <td class="btc-title-column">{{request.book.title}}</td>
            <td class="btc-owner-column btc-centered">{{request.request.ownerName | uppercase}} </td>
            <td class="btc-message-column btc-centered"><i (click)="openMessageModal(request)" class="material-icons btc-icon">message</i></td>
            <td class="btc-cancel-column btc-centered"><i class="material-icons" (click)="cancelRequest(request)">cancel</i></td>
        </tr>
      </tbody>
    </table>
  </div>



