@import '../book-styles';

.btc-profile-username {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 0;

}

.btc-profile-icon {
  font-size: 40px;
  margin-right: 10px !important;
}

.btc-page-navbar {
  margin: 30px 0 20px 0;
}

.btc-table-image {
  height: 50px;
}

.btc-title-column {
  max-width: 20%;
  font-weight: bold;
  font-size: 1.1em;
}

.btc-centered {
  text-align: center;
}

.btc-icon:hover {
  cursor: pointer;
}

.btc-profile-instruction-panel {
  padding-top: 3px;
  padding-bottom: 3px;
}

