.btc-page-navbar {
  margin: 30px 0 20px 0;
}

.btc-table-image {
  height: 50px;
}

.btc-title-column {
  max-width: 20%;
  font-weight: bold;
  font-size: 1.1em;
}

.btc-centered {
  text-align: center;
}

.btc-icon:hover {
  cursor: pointer;
}

