<h1 class="btc-profile-username"><i class="material-icons left btc-profile-icon">person</i>{{currentUser.username}}</h1>

<!-- SECONDARY NAVBAR -->
<nav class="nav-extended btc-page-navbar">
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a (click)="showContent('Collection')" [ngClass]="linkClass.collection">Collection</a></li>
      <li class="tab"><a (click)="showContent('Requests')" [ngClass]="linkClass.requests">Requests</a></li>
    </ul>
  </div>
</nav>

<!-- MY COLLECTION TABLE -->
<section *ngIf="activeTab === 'Collection'" class="responsive-table btc-table-wrapper">
  <table>
    <thead>
      <tr class="btc-table-row">
        <th></th>
        <th class="btc-title-column">Title</th>
        <th>Author</th>
        <th class="btc-centered">Requests</th>
        <th class="btc-remove-column">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of myBooks" class="btc-table-row">
        <td><img class="btc-table-image" src="{{book.imageLinks.thumbnail}}" ></td>
        <td class="btc-title-column">{{book.title}}</td>
        <td>{{book.authors[0]}}</td>
        <td class="btc-centered">{{book.requestsReceived.length}}</td>
        <td class="btc-centered"><i (click)="deleteBook(book)" class="material-icons btc-icon">delete_forever</i></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="myBooks?.length === 0" class="btc-instruction-panel btc-profile-instruction-panel">
    <p>You have no books in your collection. Why don't you go ahead and
      <a [routerLink]="['/add']" class="btc-panel-link">add books</a> ?
    </p>
  </div>
</section>

<!-- DELETE MODAL -->
<section id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 *ngIf="selectedBook"></h4>
    <p></p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" >Remove<i class="material-icons right">delete_forever</i></a>
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancel<i class="material-icons right">cancel</i></a>
  </div>
</section>

<!-- REQUESTS TABLE -->
<section *ngIf="activeTab !== 'Collection'" class="responsive-table btc-table-wrapper">
  <table>
    <thead>
      <tr class="btc-table-row">
        <th></th>
        <th class="btc-title-column">Title</th>
        <th class="btc-centered">Owner</th>
        <th class="btc-centered">Message</th>
        <th class="btc-centered">Cancel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of myRequests" class="btc-table-row">
        <td class="btc-image-column btc-centered"><img class="btc-table-image" src="{{request.book.imageLinks.thumbnail}}" ></td>
        <td class="btc-title-column">{{request.book.title}}</td>
        <td class="btc-owner-column btc-centered">{{request.book.username | uppercase}} </td>
        <td class="btc-message-column btc-centered"><i (click)="openMessageModal(request)" class="material-icons btc-message-icon">message</i></td>
        <td class="btc-cancel-column btc-centered"><i class="material-icons btc-icon" (click)="cancelRequest(request.request)">cancel</i></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="myRequests?.length === 0" class="btc-instruction-panel btc-profile-instruction-panel">
    <p>Nothing to see here... Go to
      <a [routerLink]="['/browse']" class="btc-panel-link">browse books</a> to search available titles.
    </p>
  </div>
</section>




