/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 310px;
}

main {
  flex: 1 0 auto;
}
